body{
    font-family: Outfit, serif;
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    padding: 0;
    color: hsl(30, 10%, 34%);
}


p{
    font-size: 16px;
}

.font{
    font-family: "Abril Fatface", serif;
    font-weight: 300;
    font-size: 2rem;
}

h2{
    color: hsl(14, 45%, 36%);
}

#container{
    justify-content: center;
    background-color: white;
    margin: 100px;
    margin-top: 20px;
    border-radius: 5%;
}


#components{
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#image, img{
    display: flex;
    flex-shrink: 1;
    border-radius: 30px     ;
    width:100%;
    height:auto;
}


.nazivRecepta h1{
    display: flex;
    flex-shrink: 1;
    font-size: 5rem;
    padding: 40px 0;
    margin: 0;
    color: black;
    
}


hr {
    border: 0; /* Remove default border */
    height: 1px; /* Set line thickness */
    background-color: #ccc; /* Line color */
    margin: 20px 0; /* Add spacing above and below the line */
  }

.kuhanje{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: hsl(330, 100%, 98%);
    border-radius: 30px;
    padding: 20px;

}
.kuhanje h3{
    color: hsl(332, 51%, 32%);
    font-size: 1.5rem;
    
}

.kuhanje ul{
    list-style: none;
}

.kuhanje ul li::before{
    content: "\2022";
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    display: inline-block;
    width: 2em;
}

.sastojci ul{
    list-style: none;
}

.sastojci ul li::before{
    content: "\2022";
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    display: inline-block;
    width: 2em;
}



.instrukcije ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    
}

table{
    padding: 0 ;
    width: 100%;
    border-collapse: collapse;
}

td{
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}

th{
    color: hsl(30, 10%, 34%);
    font-weight: 400;
}

th, td{
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid hsl(30, 18%, 87%);
}


.attribution{
    margin:20px;
}

/* mobile responsive */

@media screen and (max-width: 1001px) {
    .nazivRecepta h1{
        font-size: 3.5rem;
    }
    #container{
        justify-content: center;
        background-color: white;
        margin: 50px;
        margin-top: 20px;
        border-radius: 5%;
    }
    
  }


  @media screen and (max-width: 700px) {

    .nazivRecepta{
        padding: 50px;
    }
    .kuhanje{
        margin: 30px;
    }

    .sastojci{
        margin: 30px;
    }
    .instrukcije{
        margin: 30px;
    }
    .nutricije{
        margin: 30px;
    }
    .nazivRecepta h1{
        font-size: 3rem;
    }
    #container{
        justify-content: center;
        background-color: white;
        margin: 0;
        padding: 0;
        
        
    }
    #components{
        margin: 0;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    body{
        background-color: white;
    }
    #image img{
        border-radius: 0%;
 
    }
    
  }

  @media screen and (max-width: 375px){
    .nazivRecepta{
        padding: 10px;
    }
    .kuhanje{
        margin: 10px;
    }

    .sastojci{
        margin: 10px;
    }
    .instrukcije{
        margin: 10px;
    }
    .nutricije{
        margin: 10px;
    }
    .nazivRecepta h1{
        font-size: 2rem;
    }
    #container{
        justify-content: center;
        background-color: white;
        margin: 0;
        padding: 0;
        
        
    }
  
  }