body{
    font-family: Outfit, serif;
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    padding: 0;
}


.font{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-size: 2rem;
}

h2{
    color: hsl(14, 45%, 36%);
}

#container{
    
    
    justify-content: center;
    background-color: white;
    margin: 130PX;
    margin-top: 20px;
    border-radius: 5%;
}


#components{
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#image img{
    display: flex;
    flex-shrink: 1;
    border-radius: 30px     ;
    width:100%;
    height:auto;
}


.nazivRecepta h1{
    display: flex;
    flex-shrink: 1;
    font-size: 5rem;
    padding: 40px 0;
    margin: 0;
}


.kuhanje{
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    background-color: hsl(330, 100%, 98%);
    border-radius: 30px;
    padding: 20px;

}
.kuhanje h3{
    color: hsl(332, 51%, 32%);
    font-size: 1.5rem;
    
}

.kuhanje ul{
    list-style: none;
}

.kuhanje ul li::before{
    content: "\2022";
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    display: inline-block;
    width: 2em;
}

.sastojci ul{
    list-style: none;
}

.sastojci ul li::before{
    content: "\2022";
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    display: inline-block;
    width: 2em;
}



.instrukcije ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    
}

table{
    table-layout: fixed;
    width: 100%;
}

th td{
padding: 15px 20px;
    border-bottom: solid 1px black;
}