body{
    font-family:serif;
    background-color: hsl(30, 54%, 90%);
    margin: 0;
    padding: 0;
}

h2{
    color: hsl(14, 45%, 36%);
}

#container{
    display: flex;
    flex-basis: auto;
    justify-content: center;
    background-color: white;
    margin: 30PX;
    border-radius: 5%;
}


#components{
    margin: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

#image img{
    
    border-radius: 3%;
}

.kuhanje{
    background-color: hsl(330, 100%, 98%);
    padding: 50px;
    border-radius: 2%;
}
.kuhanje h3{
    color: hsl(332, 51%, 32%);
    
}